<a href="https://colab.research.google.com/github/drubiano000/SLB-ETAPA-I/blob/main/explore_small_files_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
cd '/content/drive/MyDrive'

/content/drive/MyDrive

In [ ]:
df = pd.read_csv("DOWNTIMES_ANDES.csv")

In [ ]:
print(df.shape)
print(df.columns)
df.describe()

(8894, 9)
Index(['type', 'date', 'well', 'loss', 'cause_1', 'cause_2', 'cause_3',
       'category', 'Unnamed: 8'],
      dtype='object')

              loss  Unnamed: 8
count  8890.000000         0.0
mean    192.024888         NaN
std     272.114395         NaN
min       0.000000         NaN
25%      31.095000         NaN
50%     121.000000         NaN
75%     246.450000         NaN
max    2668.920000         NaN

In [ ]:
df.head(n=20)

,type,date,well,loss,cause_1,cause_2,cause_3,category,Unnamed: 8
0,DOWNTIME,1-Jan-20,Well-34,85.00,Artifitial Lift,ESP,Mechanical Failure,NON_IDEN,NaN
1,DOWNTIME,1-Jan-20,Well-40,29.09,Production Facility & Maintenance,Operations Maintenances,Electrical Failure Operations,NON_IDEN,NaN
2,DOWNTIME,2-Jan-20,Well-34,85.00,Artifitial Lift,ESP,Mechanical Failure,NON_IDEN,NaN
3,DOWNTIME,3-Jan-20,Well-20,27.42,Reservoir Condition,Change Reservoir Conditions,Scale/Emulsion/Parafina/Etc,NON_IDEN,NaN
4,DOWNTIME,3-Jan-20,Well-34,85.00,Artifitial Lift,ESP,Mechanical Failure,NON_IDEN,NaN
5,DOWNTIME,3-Jan-20,Well-40,9.19,Production Facility & Maintenance,Electrical Shutdown,Power Generation,NON_IDEN,NaN
6,DOWNTIME,3-Jan-20,Well-41,20.75,Production Facility & Maintenance,Electrical Shutdown,Power Generation,NON_IDEN,NaN
7,DOWNTIME,3-Jan-20,Well-43,56.50,Production Facility & Maintenance,Electrical Shutdown,Power Generation,NON_IDEN,NaN
8,DOWNTIME,3-Jan-20,Well-44,182.25,Production Facility & Maintenance,Electrical Shutdown,Power Generation,NON_IDEN,NaN
9,DOWNTIME,3-Jan-20,Well-45,11.50,Production Facility & Maintenance,Electrical Shutdown,Power Generation,NON_IDEN,NaN
10,DOWNTIME,3-Jan-20,Well-46,24.69,Production Facility & Maintenance,Electrical Shutdown,Power Generation,NON_IDEN,NaN
11,DOWNTIME,3-Jan-20,Well-54,9.78,Production Facility & Maintenance,Electrical Shutdown,Power Generation,NON_IDEN,NaN
12,DOWNTIME,3-Jan-20,Well-55,16.11,Production Facility & Maintenance,Electrical Shutdown,Power Generation,NON_IDEN,NaN
13,DOWNTIME,3-Jan-20,Well-56,6.19,Production Facility & Maintenance,Electrical Shutdown,Power Generation,NON_IDEN,NaN
14,DOWNTIME,3-Jan-20,Well-58,9.13,Production Facility & Maintenance,Electrical Shutdown,Power Generation,NON_IDEN,NaN
15,DOWNTIME,3-Jan-20,Well-59,6.38,Production Facility & Maintenance,Electrical Shutdown,Power Generation,NON_IDEN,NaN
16,DOWNTIME,4-Jan-20,Well-34,85.00,Artifitial Lift,ESP,Mechanical Failure,NON_IDEN,NaN
17,DOWNTIME,4-Jan-20,Well-40,18.44,Production Facility & Maintenance,Electrical Shutdown,Power Generation,IDEN,NaN
18,DOWNTIME,4-Jan-20,Well-41,41.53,Production Facility & Maintenance,Electrical Shutdown,Power Generation,IDEN,NaN
19,DOWNTIME,4-Jan-20,Well-43,117.61,Production Facility & Maintenance,Electrical Shutdown,Power Generation,IDEN,NaN

In [ ]:
df["type"].unique()

array(['DOWNTIME'], dtype=object)

In [ ]:
df["well"].unique()

array(['Well-34', 'Well-40', 'Well-20', 'Well-41', 'Well-43', 'Well-44',
       'Well-45', 'Well-46', 'Well-54', 'Well-55', 'Well-56', 'Well-58',
       'Well-59', 'Well-1', 'Well-2', 'Well-3', 'Well-21', 'Well-22',
       'Well-23', 'Well-24', 'Well-25', 'Well-26', 'Well-29', 'Well-48',
       'Well-49', 'Well-50', 'Well-51', 'Well-52', 'Well-53', 'Well-32',
       'Well-27', 'Well-33', 'Well-14', 'Well-6', 'Well-7', 'Well-8',
       'Well-9', 'Well-10', 'Well-11', 'Well-12', 'Well-13', 'Well-57',
       'Well-28', 'Well-35', 'Well-38', 'Well-37', 'Well-39', 'Well-30',
       'Well-36', 'Well-31', 'Well-47', 'Well-16', 'Well-15', 'Well-17'],
      dtype=object)

In [ ]:
df["cause_1"].unique()

array(['Artifitial Lift', 'Production Facility & Maintenance',
       'Reservoir Condition', 'Drilling & Workover', 'Shutdowns',
       'Hydrocarbon Transport', 'Well Integrity', 'Force Majeure',
       'Facility Construction', 'Others', 'Flow Assurance',
       'Data Acquisition', nan], dtype=object)

In [ ]:
df["cause_2"].unique()

array(['ESP', 'Operations Maintenances', 'Change Reservoir Conditions',
       'Electrical Shutdown', 'Workover', 'Shutdowns', 'Pipeline',
       'Facilities Restriction', 'Completion', 'Electrical', 'Floods',
       'External Factor', 'Tubing', 'Pipelines', 'Facility Constrain',
       'Well Head', 'Others', 'Sabotage', 'Flow Assurance',
       'Electrical Network Construction', 'Riots\\War', 'Rigless',
       'Data Wells', 'Build Up', 'New Pads', 'Earthquake',
       'Pipeline Transport', nan], dtype=object)

In [ ]:
df["cause_3"].unique()

array(['Mechanical Failure', 'Electrical Failure Operations',
       'Scale/Emulsion/Parafina/Etc', 'Power Generation', 'WO Opex',
       'Shutdowns', 'Others', 'VSD', 'Sensor_Waiting Validation',
       'Power Lines', 'Pipeline Broken', 'Pumps', 'Flow Lines', 'Plant',
       'Casing / Tubing Leaks', 'WO Capex', 'Tank Level Control',
       'PowerOil Unit', 'Crude Oil Transfer Pumps', 'Power generation',
       'Electrical Failure', 'Distribution and lines',
       'Facilities Damages', 'External Factor',
       'Hole-Thread failed-corrosion erosion', 'Pipelines',
       'Change Pipeline', 'Water Management Restriction', 'General',
       'Power Oil Unit', 'Transformer', 'Leaking', 'Low Eficiency',
       'Stimulation', 'Electrical Failures', 'Sabotage', 'Leaking Valves',
       'Electrical Network Construction', 'Disturb/War', 'Fixed Pump',
       'Chemical Tratment', 'Flowing Lines', 'Reservoir Pressure Change',
       'Pressure sensors', 'Build Up', 'Gas Conning/Cusping',
       'Tubing Obstruction', 'Flow Line Construction', 'Wireline',
       'Flow Lines / Pipelines', 'Surface Equipment - Mechanical',
       'Optimization Artificial Lift', 'Chemical Injection',
       'Electrical Equipments installation', nan,
       'Surface Equipment - Electrical'], dtype=object)

In [ ]:
df["category"].unique()

array(['NON_IDEN', 'IDEN'], dtype=object)

In [ ]:
dfcause = df.groupby(["cause_3"], as_index=False).count()
dfcause

,cause_3,type,date,well,loss,cause_1,cause_2,category,Unnamed: 8
0,Build Up,14,14,14,14,14,14,14,0
1,Casing / Tubing Leaks,38,38,38,38,38,38,38,0
2,Change Pipeline,21,21,21,21,21,21,21,0
3,Chemical Injection,2,2,2,2,2,2,2,0
4,Chemical Tratment,27,27,27,27,27,27,27,0
5,Crude Oil Transfer Pumps,99,99,99,99,99,99,99,0
6,Distribution and lines,39,39,39,39,39,39,39,0
7,Disturb/War,544,544,544,544,544,544,544,0
8,Electrical Equipments installation,6,6,6,6,6,6,6,0
9,Electrical Failure,447,447,447,447,447,447,447,0
10,Electrical Failure Operations,84,84,84,84,84,84,84,0
11,Electrical Failures,7,7,7,7,7,7,7,0
12,Electrical Network Construction,5,5,5,5,5,5,5,0
13,External Factor,125,125,125,125,125,125,125,0
14,Facilities Damages,3298,3298,3298,3298,3298,3298,3298,0
15,Fixed Pump,6,6,6,6,6,6,6,0
16,Flow Line Construction,2,2,2,2,2,2,2,0
17,Flow Lines,8,8,8,8,8,8,8,0
18,Flow Lines / Pipelines,2,2,2,2,2,2,2,0
19,Flowing Lines,18,18,18,18,18,18,18,0
20,Gas Conning/Cusping,1,1,1,1,1,1,1,0
21,General,43,43,43,43,43,43,43,0
22,Hole-Thread failed-corrosion erosion,118,118,118,118,118,118,118,0
23,Leaking,1,1,1,1,1,1,1,0
24,Leaking Valves,2,2,2,2,2,2,2,0
25,Low Eficiency,158,158,158,158,158,158,158,0
26,Mechanical Failure,627,627,627,627,627,627,627,0
27,Optimization Artificial Lift,1,1,1,1,1,1,1,0
28,Others,134,134,134,132,134,134,134,0
29,Pipeline Broken,18,18,18,18,18,18,18,0
30,Pipelines,6,6,6,6,6,6,6,0
31,Plant,17,17,17,17,17,17,17,0
32,Power Generation,365,365,365,364,365,365,365,0
33,Power Lines,70,70,70,70,70,70,70,0
34,Power Oil Unit,2,2,2,2,2,2,2,0
35,Power generation,126,126,126,126,126,126,126,0
36,PowerOil Unit,9,9,9,9,9,9,9,0
37,Pressure sensors,1,1,1,1,1,1,1,0
38,Pumps,7,7,7,7,7,7,7,0
39,Reservoir Pressure Change,1,1,1,1,1,1,1,0
40,Sabotage,8,8,8,8,8,8,8,0
41,Scale/Emulsion/Parafina/Etc,4,4,4,4,4,4,4,0
42,Sensor_Waiting Validation,224,224,224,223,224,224,224,0
43,Shutdowns,1228,1228,1228,1228,1228,1228,1228,0
44,Stimulation,3,3,3,3,3,3,3,0
45,Surface Equipment - Electrical,1,1,1,1,1,1,1,0
46,Surface Equipment - Mechanical,1,1,1,1,1,1,1,0
47,Tank Level Control,116,116,116,116,116,116,116,0
48,Transformer,15,15,15,15,15,15,15,0
49,Tubing Obstruction,1,1,1,1,1,1,1,0
50,VSD,589,589,589,589,589,589,589,0
51,WO Capex,74,74,74,74,74,74,74,0
52,WO Opex,123,123,123,123,123,123,123,0
53,Water Management Restriction,2,2,2,2,2,2,2,0
54,Wireline,5,5,5,5,5,5,5,0

In [ ]:
df["cause_3"].isna().sum()

1

In [ ]:
dfc = df.dropna(subset=['cause_3'])

In [ ]:
a= dfc[dfc["cause_3"].str.contains("Failure")]
a["cause_3"].unique()

array(['Mechanical Failure', 'Electrical Failure Operations',
       'Electrical Failure', 'Electrical Failures'], dtype=object)

In [ ]:
dffail = dfc[dfc["cause_3"].str.contains("Failure")]
dffail

,type,date,well,loss,cause_1,cause_2,cause_3,category,Unnamed: 8
0,DOWNTIME,1-Jan-20,Well-34,85.00,Artifitial Lift,ESP,Mechanical Failure,NON_IDEN,NaN
1,DOWNTIME,1-Jan-20,Well-40,29.09,Production Facility & Maintenance,Operations Maintenances,Electrical Failure Operations,NON_IDEN,NaN
2,DOWNTIME,2-Jan-20,Well-34,85.00,Artifitial Lift,ESP,Mechanical Failure,NON_IDEN,NaN
4,DOWNTIME,3-Jan-20,Well-34,85.00,Artifitial Lift,ESP,Mechanical Failure,NON_IDEN,NaN
16,DOWNTIME,4-Jan-20,Well-34,85.00,Artifitial Lift,ESP,Mechanical Failure,NON_IDEN,NaN
...,...,...,...,...,...,...,...,...,...
8889,DOWNTIME,10-Jul-23,Well-49,174.00,Artifitial Lift,ESP,Mechanical Failure,IDEN,NaN
8890,DOWNTIME,10-Jul-23,Well-46,105.00,Artifitial Lift,ESP,Electrical Failure,IDEN,NaN
8891,DOWNTIME,11-Jul-23,Well-7,122.85,Artifitial Lift,ESP,Mechanical Failure,NON_IDEN,NaN
8892,DOWNTIME,11-Jul-23,Well-49,174.00,Artifitial Lift,ESP,Mechanical Failure,IDEN,NaN
8893,DOWNTIME,11-Jul-23,Well-46,105.00,Artifitial Lift,ESP,Electrical Failure,IDEN,NaN

In [ ]:
dffail.groupby(["well"]).count()

         type  date  loss  cause_1  cause_2  cause_3  category  Unnamed: 8
well
Well-1      1     1     1        1        1        1         1           0
Well-10    32    32    32       32       32       32        32           0
Well-11    30    30    30       30       30       30        30           0
Well-12    11    11    11       11       11       11        11           0
Well-13     2     2     2        2        2        2         2           0
Well-14    16    16    16       16       16       16        16           0
Well-16    81    81    81       81       81       81        81           0
Well-2     26    26    26       26       26       26        26           0
Well-20     2     2     2        2        2        2         2           0
Well-21     4     4     4        4        4        4         4           0
Well-22     3     3     3        3        3        3         3           0
Well-23     2     2     2        2        2        2         2           0
Well-24    13    13    13       13       13       13        13           0
Well-25    17    17    17       17       17       17        17           0
Well-26     9     9     9        9        9        9         9           0
Well-28     1     1     1        1        1        1         1           0
Well-29    90    90    90       90       90       90        90           0
Well-3      3     3     3        3        3        3         3           0
Well-30     3     3     3        3        3        3         3           0
Well-31     1     1     1        1        1        1         1           0
Well-32    28    28    28       28       28       28        28           0
Well-33    11    11    11       11       11       11        11           0
Well-34    30    30    30       30       30       30        30           0
Well-35    76    76    76       76       76       76        76           0
Well-36     6     6     6        6        6        6         6           0
Well-37    18    18    18       18       18       18        18           0
Well-38    32    32    32       32       32       32        32           0
Well-39     1     1     1        1        1        1         1           0
Well-40    21    21    21       21       21       21        21           0
Well-41    11    11    11       11       11       11        11           0
Well-43     2     2     2        2        2        2         2           0
Well-44    13    13    13       13       13       13        13           0
Well-45    32    32    32       32       32       32        32           0
Well-46    54    54    54       54       54       54        54           0
Well-47     1     1     1        1        1        1         1           0
Well-48     1     1     1        1        1        1         1           0
Well-49    31    31    31       31       31       31        31           0
Well-50     1     1     1        1        1        1         1           0
Well-51     1     1     1        1        1        1         1           0
Well-52   201   201   201      201      201      201       201           0
Well-53     2     2     2        2        2        2         2           0
Well-54    21    21    21       21       21       21        21           0
Well-56    18    18    18       18       18       18        18           0
Well-57    19    19    19       19       19       19        19           0
Well-58    13    13    13       13       13       13        13           0
Well-59    60    60    60       60       60       60        60           0
Well-6     23    23    23       23       23       23        23           0
Well-7     67    67    67       67       67       67        67           0
Well-8     12    12    12       12       12       12        12           0
Well-9     12    12    12       12       12       12        12           0

In [ ]:
wells = ['Well-53', 'Well-52', 'Well-59', 'Well-56', 'Well-57', 'Well-54', 'Well-55', 'Well-60', 'Well-58', 'Well-51']
for i, well in enumerate(wells):
    print("{}: {}".format(well, sum(dffail["well"].str.contains(wells[i]))))

Well-53: 2
Well-52: 201
Well-59: 60
Well-56: 18
Well-57: 19
Well-54: 21
Well-55: 0
Well-60: 0
Well-58: 13
Well-51: 1

In [ ]:
dffail[dffail["well"]=="Well-51"]
#dffail[dffail["cause_2"]=="ESP"]
#a[a["well"]=="WELL-51"]

,type,date,well,loss,cause_1,cause_2,cause_3,category,Unnamed: 8
7436,DOWNTIME,8-Nov-22,Well-51,5.46,Production Facility & Maintenance,Operations Maintenances,Mechanical Failure,NON_IDEN,NaN

In [ ]:
dffail[ (dffail["well"]=="Well-52") & (dffail["cause_2"]=="ESP") ]

,type,date,well,loss,cause_1,cause_2,cause_3,category,Unnamed: 8
3886,DOWNTIME,11-Feb-21,Well-52,11.60,Artifitial Lift,ESP,Mechanical Failure,NON_IDEN,NaN
3887,DOWNTIME,11-Feb-21,Well-52,220.40,Artifitial Lift,ESP,Mechanical Failure,NON_IDEN,NaN
3891,DOWNTIME,12-Feb-21,Well-52,11.60,Artifitial Lift,ESP,Mechanical Failure,NON_IDEN,NaN
3892,DOWNTIME,12-Feb-21,Well-52,220.39,Artifitial Lift,ESP,Mechanical Failure,NON_IDEN,NaN
3895,DOWNTIME,13-Feb-21,Well-52,11.60,Artifitial Lift,ESP,Mechanical Failure,NON_IDEN,NaN
...,...,...,...,...,...,...,...,...,...
7758,DOWNTIME,14-Jan-23,Well-52,49.24,Artifitial Lift,ESP,Mechanical Failure,NON_IDEN,NaN
7761,DOWNTIME,15-Jan-23,Well-52,155.92,Artifitial Lift,ESP,Mechanical Failure,NON_IDEN,NaN
7762,DOWNTIME,15-Jan-23,Well-52,49.24,Artifitial Lift,ESP,Mechanical Failure,NON_IDEN,NaN
7764,DOWNTIME,16-Jan-23,Well-52,155.92,Artifitial Lift,ESP,Mechanical Failure,NON_IDEN,NaN
7765,DOWNTIME,16-Jan-23,Well-52,49.24,Artifitial Lift,ESP,Mechanical Failure,NON_IDEN,NaN

In [ ]:
dffailESP = dffail[dffail["cause_2"].str.contains("ESP")]
dffailESP

,type,date,well,loss,cause_1,cause_2,cause_3,category,Unnamed: 8
0,DOWNTIME,1-Jan-20,Well-34,85.00,Artifitial Lift,ESP,Mechanical Failure,NON_IDEN,NaN
2,DOWNTIME,2-Jan-20,Well-34,85.00,Artifitial Lift,ESP,Mechanical Failure,NON_IDEN,NaN
4,DOWNTIME,3-Jan-20,Well-34,85.00,Artifitial Lift,ESP,Mechanical Failure,NON_IDEN,NaN
16,DOWNTIME,4-Jan-20,Well-34,85.00,Artifitial Lift,ESP,Mechanical Failure,NON_IDEN,NaN
27,DOWNTIME,5-Jan-20,Well-34,85.00,Artifitial Lift,ESP,Mechanical Failure,NON_IDEN,NaN
...,...,...,...,...,...,...,...,...,...
8889,DOWNTIME,10-Jul-23,Well-49,174.00,Artifitial Lift,ESP,Mechanical Failure,IDEN,NaN
8890,DOWNTIME,10-Jul-23,Well-46,105.00,Artifitial Lift,ESP,Electrical Failure,IDEN,NaN
8891,DOWNTIME,11-Jul-23,Well-7,122.85,Artifitial Lift,ESP,Mechanical Failure,NON_IDEN,NaN
8892,DOWNTIME,11-Jul-23,Well-49,174.00,Artifitial Lift,ESP,Mechanical Failure,IDEN,NaN
8893,DOWNTIME,11-Jul-23,Well-46,105.00,Artifitial Lift,ESP,Electrical Failure,IDEN,NaN

In [ ]:
dffailESP["cause_1"].unique()

array(['Artifitial Lift'], dtype=object)

In [ ]:
dffailESP.groupby(["well"], as_index=False).count()

       well  type  date  loss  cause_1  cause_2  cause_3  category  Unnamed: 8
0   Well-10    31    31    31       31       31       31        31           0
1   Well-11    29    29    29       29       29       29        29           0
2   Well-12    10    10    10       10       10       10        10           0
3   Well-14    15    15    15       15       15       15        15           0
4   Well-16    81    81    81       81       81       81        81           0
5    Well-2    26    26    26       26       26       26        26           0
6   Well-21     2     2     2        2        2        2         2           0
7   Well-24    13    13    13       13       13       13        13           0
8   Well-25    17    17    17       17       17       17        17           0
9   Well-26     9     9     9        9        9        9         9           0
10  Well-29    90    90    90       90       90       90        90           0
11  Well-32    23    23    23       23       23       23        23           0
12  Well-34    27    27    27       27       27       27        27           0
13  Well-35    70    70    70       70       70       70        70           0
14  Well-37    12    12    12       12       12       12        12           0
15  Well-38    29    29    29       29       29       29        29           0
16  Well-40    15    15    15       15       15       15        15           0
17  Well-41     9     9     9        9        9        9         9           0
18  Well-44    10    10    10       10       10       10        10           0
19  Well-45    29    29    29       29       29       29        29           0
20  Well-46    52    52    52       52       52       52        52           0
21  Well-49    29    29    29       29       29       29        29           0
22  Well-52   197   197   197      197      197      197       197           0
23  Well-54    20    20    20       20       20       20        20           0
24  Well-56    18    18    18       18       18       18        18           0
25  Well-57    18    18    18       18       18       18        18           0
26  Well-58    13    13    13       13       13       13        13           0
27  Well-59    60    60    60       60       60       60        60           0
28   Well-6    22    22    22       22       22       22        22           0
29   Well-7    66    66    66       66       66       66        66           0
30   Well-8    11    11    11       11       11       11        11           0
31   Well-9    10    10    10       10       10       10        10           0

In [ ]:
for i, well in enumerate(wells):
    print("{}: {}".format(well, sum(dffailESP["well"].str.contains(wells[i]))))

Well-53: 0
Well-52: 197
Well-59: 60
Well-56: 18
Well-57: 18
Well-54: 20
Well-55: 0
Well-60: 0
Well-58: 13
Well-51: 0

In [ ]:
dffailSD = df[df["cause_2"]=="Shutdowns"]
dffailSD

,type,date,well,loss,cause_1,cause_2,cause_3,category,Unnamed: 8
29,DOWNTIME,6-Jan-20,Well-1,67.28,Shutdowns,Shutdowns,Shutdowns,IDEN,NaN
30,DOWNTIME,6-Jan-20,Well-2,72.30,Shutdowns,Shutdowns,Shutdowns,IDEN,NaN
31,DOWNTIME,6-Jan-20,Well-3,38.50,Shutdowns,Shutdowns,Shutdowns,IDEN,NaN
32,DOWNTIME,6-Jan-20,Well-20,41.11,Shutdowns,Shutdowns,Shutdowns,IDEN,NaN
33,DOWNTIME,6-Jan-20,Well-21,30.20,Shutdowns,Shutdowns,Shutdowns,IDEN,NaN
...,...,...,...,...,...,...,...,...,...
8795,DOWNTIME,10-Jun-23,Well-22,75.66,Shutdowns,Shutdowns,Shutdowns,NON_IDEN,NaN
8796,DOWNTIME,10-Jun-23,Well-23,3.22,Shutdowns,Shutdowns,Shutdowns,NON_IDEN,NaN
8797,DOWNTIME,10-Jun-23,Well-24,13.61,Shutdowns,Shutdowns,Shutdowns,NON_IDEN,NaN
8798,DOWNTIME,10-Jun-23,Well-25,3.15,Shutdowns,Shutdowns,Shutdowns,NON_IDEN,NaN
8799,DOWNTIME,10-Jun-23,Well-26,9.20,Shutdowns,Shutdowns,Shutdowns,NON_IDEN,NaN

In [ ]:
dffailSD.groupby(["well"], as_index=False).count()

       well  type  date  loss  cause_1  cause_2  cause_3  category  Unnamed: 8
0    Well-1    43    43    43       43       43       43        43           0
1   Well-10    11    11    11       11       11       11        11           0
2   Well-11     8     8     8        8        8        8         8           0
3   Well-12    14    14    14       14       14       14        14           0
4   Well-13    11    11    11       11       11       11        11           0
5   Well-14    10    10    10       10       10       10        10           0
6   Well-15    10    10    10       10       10       10        10           0
7   Well-16    20    20    20       20       20       20        20           0
8   Well-17    11    11    11       11       11       11        11           0
9    Well-2    42    42    42       42       42       42        42           0
10  Well-20    40    40    40       40       40       40        40           0
11  Well-21    35    35    35       35       35       35        35           0
12  Well-22    43    43    43       43       43       43        43           0
13  Well-23    39    39    39       39       39       39        39           0
14  Well-24    37    37    37       37       37       37        37           0
15  Well-25    38    38    38       38       38       38        38           0
16  Well-26    36    36    36       36       36       36        36           0
17  Well-27     2     2     2        2        2        2         2           0
18  Well-28     1     1     1        1        1        1         1           0
19  Well-29     1     1     1        1        1        1         1           0
20   Well-3    40    40    40       40       40       40        40           0
21  Well-30     4     4     4        4        4        4         4           0
22  Well-32     3     3     3        3        3        3         3           0
23  Well-33     2     2     2        2        2        2         2           0
24  Well-34     3     3     3        3        3        3         3           0
25  Well-35     3     3     3        3        3        3         3           0
26  Well-36     3     3     3        3        3        3         3           0
27  Well-37     3     3     3        3        3        3         3           0
28  Well-38     4     4     4        4        4        4         4           0
29  Well-39    27    27    27       27       27       27        27           0
30  Well-40    37    37    37       37       37       37        37           0
31  Well-41    36    36    36       36       36       36        36           0
32  Well-43    46    46    46       46       46       46        46           0
33  Well-44    39    39    39       39       39       39        39           0
34  Well-45    43    43    43       43       43       43        43           0
35  Well-46    32    32    32       32       32       32        32           0
36  Well-47    22    22    22       22       22       22        22           0
37  Well-48    19    19    19       19       19       19        19           0
38  Well-49    19    19    19       19       19       19        19           0
39  Well-50    21    21    21       21       21       21        21           0
40  Well-51     9     9     9        9        9        9         9           0
41  Well-52    30    30    30       30       30       30        30           0
42  Well-53    44    44    44       44       44       44        44           0
43  Well-54    42    42    42       42       42       42        42           0
44  Well-55    38    38    38       38       38       38        38           0
45  Well-56    61    61    61       61       61       61        61           0
46  Well-57    35    35    35       35       35       35        35           0
47  Well-58    36    36    36       36       36       36        36           0
48  Well-59    37    37    37       37       37       37        37           0
49   Well-6     9     9     9        9        9        9         9           0
50   Well-7     9     9     9        9        9        9         9           0
51   Well-8    11    11    11       11       11       11        11           0
52   Well-9     9     9     9        9        9        9         9           0

In [ ]:
fail52 = dffailESP[(dffailESP["well"]=="Well-52")]
print(fail52["date"].size)
print(fail52["date"].unique().size)
dates52 = fail52["date"].unique()
print(dates52)

197
114
['11-Feb-21' '12-Feb-21' '13-Feb-21' '14-Feb-21' '15-Feb-21' '16-Feb-21'
 '17-Feb-21' '18-Feb-21' '19-Feb-21' '20-Feb-21' '21-Feb-21' '22-Feb-21'
 '23-Feb-21' '24-Feb-21' '25-Feb-21' '26-Feb-21' '27-Feb-21' '28-Feb-21'
 '1-Mar-21' '2-Mar-21' '3-Mar-21' '4-Mar-21' '5-Mar-21' '6-Mar-21'
 '7-Mar-21' '8-Mar-21' '9-Mar-21' '10-Mar-21' '11-Mar-21' '12-Mar-21'
 '13-Mar-21' '14-Mar-21' '15-Mar-21' '16-Mar-21' '17-Mar-21' '18-Mar-21'
 '19-Mar-21' '20-Mar-21' '21-Mar-21' '22-Mar-21' '23-Mar-21' '24-Mar-21'
 '25-Mar-21' '26-Mar-21' '27-Mar-21' '28-Mar-21' '29-Mar-21' '30-Mar-21'
 '31-Mar-21' '1-Apr-21' '2-Apr-21' '3-Apr-21' '4-Apr-21' '5-Apr-21'
 '6-Apr-21' '7-Apr-21' '8-Apr-21' '9-Apr-21' '10-Apr-21' '11-Apr-21'
 '12-Apr-21' '13-Apr-21' '14-Apr-21' '15-Apr-21' '16-Apr-21' '17-Apr-21'
 '18-Apr-21' '19-Apr-21' '20-Apr-21' '21-Apr-21' '22-Apr-21' '23-Apr-21'
 '24-Apr-21' '25-Apr-21' '26-Apr-21' '27-Apr-21' '28-Apr-21' '29-Apr-21'
 '30-Apr-21' '1-May-21' '2-May-21' '3-May-21' '4-May-21' '5-May-21'
 '6-May-21' '7-May-21' '8-May-21' '9-May-21' '10-May-21' '11-May-21'
 '9-Jan-22' '8-Oct-22' '9-Oct-22' '10-Oct-22' '11-Oct-22' '28-Dec-22'
 '29-Dec-22' '31-Dec-22' '1-Jan-23' '2-Jan-23' '3-Jan-23' '4-Jan-23'
 '5-Jan-23' '6-Jan-23' '7-Jan-23' '8-Jan-23' '9-Jan-23' '10-Jan-23'
 '11-Jan-23' '12-Jan-23' '13-Jan-23' '14-Jan-23' '15-Jan-23' '16-Jan-23']

In [ ]:
sd52 = dffailSD[(dffailSD["well"]=="Well-52")]
print(sd52["date"].size)
print(sd52["date"].unique().size)
dates52 = sd52["date"].unique()
print(dates52)

30
17
['6-Jan-20' '8-Jan-20' '29-Jan-20' '6-Mar-20' '30-Aug-20' '7-Feb-21'
 '8-Feb-21' '16-Apr-21' '12-May-21' '27-Nov-21' '28-Nov-21' '10-Jun-22'
 '11-Jun-22' '16-Jun-22' '28-Jan-23' '29-Jan-23' '24-Feb-23']

In [ ]:
idx = 0
fail52[fail52["date"]==dates52[0]]

,type,date,well,loss,cause_1,cause_2,cause_3,category,Unnamed: 8
3886,DOWNTIME,11-Feb-21,Well-52,11.6,Artifitial Lift,ESP,Mechanical Failure,NON_IDEN,NaN
3887,DOWNTIME,11-Feb-21,Well-52,220.4,Artifitial Lift,ESP,Mechanical Failure,NON_IDEN,NaN

In [ ]:
fail59 = dffailESP[(dffailESP["well"]=="Well-59")]
print(fail59["date"].size)
print(fail59["date"].unique().size)
dates59 = fail59["date"].unique()
print(dates59)

60
60
['26-May-20' '27-May-20' '28-May-20' '29-May-20' '30-May-20' '31-May-20'
 '1-Jun-20' '2-Jun-20' '3-Jun-20' '4-Jun-20' '5-Jun-20' '6-Jun-20'
 '7-Jun-20' '8-Jun-20' '9-Jun-20' '10-Jun-20' '11-Jun-20' '12-Jun-20'
 '13-Jun-20' '14-Jun-20' '15-Jun-20' '16-Jun-20' '17-Jun-20' '18-Jun-20'
 '19-Jun-20' '20-Jun-20' '21-Jun-20' '22-Jun-20' '23-Jun-20' '24-Jun-20'
 '25-Jun-20' '26-Jun-20' '27-Jun-20' '28-Jun-20' '29-Jun-20' '30-Jun-20'
 '1-Jul-20' '2-Jul-20' '3-Jul-20' '4-Jul-20' '5-Jul-20' '6-Jul-20'
 '7-Jul-20' '8-Jul-20' '9-Jul-20' '10-Jul-20' '11-Jul-20' '12-Jul-20'
 '13-Jul-20' '14-Jul-20' '15-Jul-20' '16-Jul-20' '17-Jul-20' '18-Jul-20'
 '19-Jul-20' '20-Jul-20' '21-Jul-20' '22-Jul-20' '23-Jul-20' '24-Jul-20']

In [ ]:
sd59 = dffailSD[(dffailSD["well"]=="Well-59")]
print(sd59["date"].size)
print(sd59["date"].unique().size)
dates59 = sd59["date"].unique()
print(dates59)

37
31
['2-Feb-20' '3-Feb-20' '14-Feb-20' '24-Mar-20' '7-Apr-20' '11-Sep-20'
 '19-Sep-20' '11-Nov-20' '13-Dec-20' '3-Feb-21' '1-Sep-21' '22-Sep-21'
 '14-Oct-21' '2-Nov-21' '25-Mar-22' '16-Apr-22' '7-Jun-22' '14-Aug-22'
 '1-Sep-22' '28-Oct-22' '31-Oct-22' '1-Nov-22' '2-Nov-22' '11-Dec-22'
 '10-Jan-23' '11-Jan-23' '5-Mar-23' '18-Mar-23' '17-Apr-23' '10-May-23'
 '15-May-23']

In [ ]:
fail54 = dffailESP[(dffailESP["well"]=="Well-54")]
print(fail54["date"].size)
print(fail54["date"].unique().size)
dates54 = fail54["date"].unique()
print(dates54)

20
20
['4-Feb-21' '5-Feb-21' '6-Feb-21' '7-Feb-21' '8-Feb-21' '9-Feb-21'
 '10-Feb-21' '11-Feb-21' '12-Feb-21' '13-Feb-21' '14-Feb-21' '15-Feb-21'
 '16-Feb-21' '17-Feb-21' '18-Feb-21' '19-Feb-21' '20-Feb-21' '21-Feb-21'
 '22-Feb-21' '23-Feb-21']

In [ ]:
sd54 = dffailSD[(dffailSD["well"]=="Well-54")]
print(sd54["date"].size)
print(sd54["date"].unique().size)
dates54 = sd54["date"].unique()
print(dates54)

42
39
['2-Feb-20' '3-Feb-20' '14-Feb-20' '24-Mar-20' '7-Apr-20' '2-Jul-20'
 '14-Jul-20' '11-Sep-20' '19-Sep-20' '30-Sep-20' '5-Nov-20' '11-Nov-20'
 '12-Dec-20' '13-Dec-20' '3-Feb-21' '17-Apr-21' '1-Sep-21' '22-Sep-21'
 '2-Nov-21' '6-Nov-21' '25-Mar-22' '16-Apr-22' '10-May-22' '7-Jun-22'
 '14-Aug-22' '1-Sep-22' '28-Oct-22' '31-Oct-22' '1-Nov-22' '2-Nov-22'
 '11-Dec-22' '10-Jan-23' '11-Jan-23' '18-Mar-23' '17-Apr-23' '24-Apr-23'
 '25-Apr-23' '10-May-23' '15-May-23']

In [ ]:
fail56 = dffailESP[(dffailESP["well"]=="Well-56")]
print(fail56["date"].size)
print(fail56["date"].unique().size)
dates56 = fail56["date"].unique()
print(dates56)

18
18
['12-Nov-20' '13-Nov-20' '14-Nov-20' '15-Nov-20' '16-Nov-20' '17-Nov-20'
 '18-Nov-20' '19-Nov-20' '20-Nov-20' '21-Nov-20' '22-Nov-20' '23-Nov-20'
 '24-Nov-20' '25-Nov-20' '26-Nov-20' '27-Nov-20' '28-Nov-20' '29-Nov-20']

In [ ]:
sd56 = dffailSD[(dffailSD["well"]=="Well-56")]
print(sd56["date"].size)
print(sd56["date"].unique().size)
dates56 = sd56["date"].unique()
print(dates56)

61
37
['2-Feb-20' '3-Feb-20' '14-Feb-20' '24-Mar-20' '7-Apr-20' '2-Jul-20'
 '14-Jul-20' '11-Sep-20' '19-Sep-20' '30-Sep-20' '5-Nov-20' '11-Nov-20'
 '12-Dec-20' '13-Dec-20' '17-Apr-21' '1-Sep-21' '2-Sep-21' '22-Sep-21'
 '2-Nov-21' '6-Nov-21' '25-Mar-22' '16-Apr-22' '7-Jun-22' '14-Aug-22'
 '1-Sep-22' '28-Oct-22' '31-Oct-22' '1-Nov-22' '2-Nov-22' '11-Dec-22'
 '10-Jan-23' '11-Jan-23' '5-Mar-23' '18-Mar-23' '17-Apr-23' '10-May-23'
 '15-May-23']

In [ ]:
fail57 = dffailESP[(dffailESP["well"]=="Well-57")]
print(fail57["date"].size)
print(fail57["date"].unique().size)
dates57 = fail57["date"].unique()
print(dates57)

18
18
['23-Jan-21' '25-Jan-21' '26-Jan-21' '27-Jan-21' '28-Jan-21' '29-Jan-21'
 '30-Jan-21' '31-Jan-21' '1-Feb-21' '2-Feb-21' '3-Feb-21' '4-Feb-21'
 '5-Feb-21' '6-Feb-21' '7-Feb-21' '8-Feb-21' '9-Feb-21' '10-Feb-21']

In [ ]:
sd57 = dffailSD[(dffailSD["well"]=="Well-57")]
print(sd57["date"].size)
print(sd57["date"].unique().size)
dates57 = sd57["date"].unique()
print(dates57)

35
33
['2-Feb-20' '3-Feb-20' '14-Feb-20' '24-Mar-20' '7-Apr-20' '2-Jul-20'
 '14-Jul-20' '11-Sep-20' '19-Sep-20' '11-Nov-20' '12-Dec-20' '13-Dec-20'
 '1-Sep-21' '22-Sep-21' '14-Oct-21' '2-Nov-21' '25-Mar-22' '16-Apr-22'
 '10-May-22' '7-Jun-22' '14-Aug-22' '1-Sep-22' '28-Oct-22' '31-Oct-22'
 '1-Nov-22' '2-Nov-22' '11-Dec-22' '11-Jan-23' '5-Mar-23' '18-Mar-23'
 '17-Apr-23' '10-May-23' '15-May-23']

In [ ]:
fail58 = dffailESP[(dffailESP["well"]=="Well-58")]
print(fail58["date"].size)
print(fail58["date"].unique().size)
dates58 = fail58["date"].unique()
print(dates58)

13
13
['3-Dec-20' '4-Dec-20' '5-Dec-20' '6-Dec-20' '7-Dec-20' '8-Dec-20'
 '9-Dec-20' '10-Dec-20' '11-Dec-20' '12-Dec-20' '13-Dec-20' '14-Dec-20'
 '15-Dec-20']

In [ ]:
sd58 = dffailSD[(dffailSD["well"]=="Well-58")]
print(sd58["date"].size)
print(sd58["date"].unique().size)
dates58 = sd58["date"].unique()
print(dates58)

36
34
['2-Feb-20' '3-Feb-20' '14-Feb-20' '24-Mar-20' '7-Apr-20' '2-Jul-20'
 '14-Jul-20' '11-Sep-20' '19-Sep-20' '30-Sep-20' '11-Nov-20' '3-Feb-21'
 '1-Sep-21' '2-Sep-21' '22-Sep-21' '14-Oct-21' '2-Nov-21' '25-Mar-22'
 '16-Apr-22' '7-Jun-22' '14-Aug-22' '1-Sep-22' '28-Oct-22' '31-Oct-22'
 '1-Nov-22' '2-Nov-22' '11-Dec-22' '10-Jan-23' '11-Jan-23' '5-Mar-23'
 '18-Mar-23' '17-Apr-23' '10-May-23' '15-May-23']

In [ ]:
fail51 = dffailESP[(dffailESP["well"]=="Well-51")]
print(fail51["date"].size)
print(fail51["date"].unique().size)
dates51 = fail51["date"].unique()
print(dates51)

0
0
[]

In [ ]:
sd51 = dffailSD[(dffailSD["well"]=="Well-51")]
print(sd51["date"].size)
print(sd51["date"].unique().size)
dates51 = sd51["date"].unique()
print(dates51)

9
9
['6-Jan-20' '8-Jan-20' '29-Jan-20' '6-Mar-20' '6-Jan-23' '7-Jan-23'
 '28-Jan-23' '29-Jan-23' '24-Feb-23']

In [ ]:
sd55 = dffailSD[(dffailSD["well"]=="Well-55")]
print(sd55["date"].size)
print(sd55["date"].unique().size)
dates55 = sd55["date"].unique()
print(dates55)

38
36
['2-Feb-20' '3-Feb-20' '14-Feb-20' '24-Mar-20' '7-Apr-20' '11-Sep-20'
 '19-Sep-20' '30-Sep-20' '11-Nov-20' '12-Dec-20' '13-Dec-20' '3-Feb-21'
 '1-Sep-21' '22-Sep-21' '14-Oct-21' '2-Nov-21' '25-Mar-22' '5-Apr-22'
 '16-Apr-22' '10-May-22' '11-May-22' '7-Jun-22' '14-Aug-22' '1-Sep-22'
 '28-Oct-22' '31-Oct-22' '1-Nov-22' '2-Nov-22' '11-Dec-22' '10-Jan-23'
 '11-Jan-23' '5-Mar-23' '18-Mar-23' '17-Apr-23' '10-May-23' '15-May-23']

In [ ]:
sd60 = dffailSD[(dffailSD["well"]=="Well-60")]
print(sd60["date"].size)
print(sd60["date"].unique().size)
dates60 = sd60["date"].unique()
print(dates60)

0
0
[]